---
import favicon from "../assets/favicon.ico"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>Smileonthetiles</title>
		<meta name="description" content="Plymouth's committed and legendary premiere nightlife photography">
		<meta name="theme-color" content="#000"><meta name="msapplication-navbutton-color" content="#000">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	html, body {
		margin: 0;
		padding: 0;
	}

	html {
		height: 100%;
		background: url("/background.jpg") #111 no-repeat;
		background-size: cover;
	}

	body {
		min-height: 100%;
		font-family: IBM Plex Sans,sans-serif;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: rgb(0 0 0 / 80%);
	}

	a {color: inherit;
	&:hover {
		text-decoration-thickness: 3.5px;
	}}
</style>
